.header {
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background-color: #ebebebf5;
    text-align: center;
    padding: 2%;
    margin-bottom: 8px;
    border-bottom: 1px solidrgba(0,0,0,.125);
}
.titleCnt{
    font-weight: 700;
}